*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* This is the main container div */
.locationSection{
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
width:100%;
height: fit-content;
margin-bottom: 4rem;
}

/* Name and location Address */
.nameAndLocation{
    color:rgb(211, 211, 255);   
    }

.nameAndLocation p:nth-child(2){
    margin-left: 10%;
    font-size: 1.1rem;
}
.locationIcon{
    color: var(--color-accent-secondary);
    font-size: 2rem;   
}

/* This is the contact map section */
.mapContainer{
        width: 30%; 
        height: fit-content;
        background-image: linear-gradient(to right,  rgb(7, 16, 37) , #ff562217);

        box-shadow: 300px 300px 400px -10px #ff56222d,
        -800px -1px 400px -10px #ff56222d;
      
}

.contactIntroImg{
    background-image: linear-gradient(to right,  rgb(7, 16, 37) , #ff5622);
    border-radius: 50%;
    width:30%;
    height: 15rem;
    float:left;
    position:relative;
    margin-top: 16rem;
    margin-left: 15%;
}

.phoneImageShadder{
    width:60%;
    height:18rem;
    background-color:#c3d8ff0e;
    position:absolute;
    top:-6rem;
    left: 14%;
    backdrop-filter: blur(3px);
    border:1px solid rgba(211, 211, 255, 0.39);
   /*  border-radius: 1rem; */
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;

}
.phoneImageShadder p{
    color:aliceblue;
    margin-top: 8rem;
    font-size: 2rem;
}
.OfficeTelephone{
   /*  filter: blur(3px); */
    margin:auto;
    margin-top: 3rem;
    height:3rem;
    transform: translateY(-10rem);
    
}

.clear{
    clear:both;
}

.contactIntro{
    float:right;
    width:40%;
    height:25rem;
    margin-right: 10%;
    margin-top: 7rem;
}
.contact_Us{
    font-size: 1.1rem;
    font-weight: bold;
    color:#FF5722;
    text-align: left;
    margin: 2rem 0 2rem 10%;
    
}

.contactIntro h1{
  /*   background-color: brown; */
    font-size: 2.5rem;
    font-weight: 300;
}

.contactMessage1{
    margin: auto;
    width:80%;

}
.contactCheckBox1{
      height: fit-content;
      width:60%;
      margin: auto;
      margin: 6rem 0 6rem 3%;
      padding: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

/* .............................Now moving to the chat form section................  */
.contactChatSection{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:0.5rem;
    margin:5rem 0 5rem 0;

  }
  .chatCaption{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    color:rgb(211, 211, 255);
  }
  .chatCaption h2{
    font-weight: 300;
    font-size: 2.5rem;
  }
  .chatCaption h2 span{
    color:var(--color-accent-secondary);
  }
  .chatCaption p{
    font-size: 1.1rem;
  }





.singInBtn{
    margin:'2rem auto 4rem auto';
}

.callEmailChat  {
    width:100%;
    height: fit-content;
    padding:1rem;
    margin:10rem 0 8rem 0;
   
}

.callEmailChat div{
    display:inline-block;
    margin-inline:5%;
}
.call_E_ChatDesign{
    width: 15rem;
    height: 18rem;
    text-align: left;
    
}

.emailBox{
    /* background-color: blue; */
    animation: email_slide 10s ease-in-out 0.1s infinite;
   
}
.callBox{
  /*   background-color: blueviolet; */
    animation: call_slide 10s ease-in-out 0.1s infinite;
 
}
.chatBox{
   /*  background-color: black; */
    animation: chat_slide 10s ease-in-out 0.1s infinite;
 
}

 @keyframes email_slide {
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(2rem);
    }
    50%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(-2rem);
    }
    100%{ 
        transform: translateY(0rem);
    }
 }

 @keyframes call_slide {
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-2rem);
    }
    50%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(2rem);
    }
    100%{ 
        transform: translateY(0rem);
    }
 }

 @keyframes chat_slide {
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(2rem);
    }
    50%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(-2rem);
    }
    100%{ 
        transform: translateY(0rem);
    }
 }

 
.finalContactComment{
    width:60%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    margin:auto;
    margin-top: 4rem;
}


