*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  .clear{
    clear: both;
}
  .bodyHr{
    width:100%;
    height:1px;
    background-image: linear-gradient(to right,rgb(17, 23, 37), #FF5722, rgb(17, 23, 37));
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .Home {
    text-align: center;
    background-color: rgb(17, 23, 37);
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .Home-logo {
    height: 40vmin;
    pointer-events: none;
  }

.homeCaptionImage1{
  width:100%;
  height: 26rem;
  margin:auto;
  margin-bottom: 2rem;
  top: 0;
  background-image: url(../assets/HotelCaption1.png);
  background-size: cover;
  background-position-y: 35%;
  background-position-x: -3rem;

  animation: captionImage1Slide 40s ease-in-out 0s infinite;

  position: absolute;
}
.homeCaptionImage2{
  width:100%;
  height: 26rem; /* 30rem */
  margin:auto;
  margin-bottom: 2rem;
  background-image: url(../assets/hotelCaption2.png);
  background-size: cover;
  background-position-y: 70%;
  position: relative;
  animation: captionImage2Slide 40s ease-in-out 0s infinite;
  top:-5rem;

}
@keyframes captionImage1Slide {

  0%{
     width: 100%;
  }

  20%{
    width: 100%;
  }

  40%{
    width: 0%;
  }

  60%{
    width: 0%;
  }

  80%{
    width: 0%;

  }
  100%{
    width:100%;
  }

}

@keyframes captionImage2Slide {

  0%{
     width: 0%;
  }

  20%{
    width: 0%;
  }

  40%{
    width: 100%;
  }

  60%{
    width: 100%;
  }

  80%{
    width: 100%;

  }
  100%{
    width:0%;
  }

}


.captionShader{
  width:100%;
  height: 26rem;
  background-image: linear-gradient(to right,#ff562200,#ff56224f,rgba(17, 23, 37, 0.95),rgb(17, 23, 37));
  position:absolute;
  top:0;
  padding-top: 5rem;
}

.captionTextBox{
  width: 40%;
  height: 20rem;
  float: right;
  padding:1rem;
}
.captionHeaderText h1{
  height: fit-content;
  font-size: 2rem;
  margin: auto;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 300;
  font-family: 'Prata', serif;
  background-clip: text;
  background-image: linear-gradient(to top right, #FF5722,rgb(211, 211, 255),rgb(211, 211, 255));
  color:transparent;
  letter-spacing: 0.4rem;
}
.captionBodyText {
  margin:auto;
  padding:1rem;
  background-color: #ff56222d;
  height: 7.5rem;
  width: 80%;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 0.3rem;
  letter-spacing: 0.3rem;
  color:rgb(211, 211, 255);

  animation: captionBodyTextSlide 3s ease-in-out 0s forwards;

}
@keyframes captionBodyTextSlide  {
  from{
    width:0;
    filter:brightness(0.5);
    transform: translateX(-64rem);
  }
  to{
   filter:brightness(1);
    transform: translateX(0rem);
    width: 80%;
  }
}

.captionDate{
  width:50%;
  height:2rem;
  margin:auto;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 200;
  color:rgb(211, 211, 255);
}

.homeTitlespan{
  color:#FF5722;
  font-weight: 100;
}


.WelcomeParagraph{
  color:rgb(211, 211, 255);
  letter-spacing: 0.3rem;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}
/* ---------------This is the first section------------ */
.homeSection1{
  float:left;
  width:40%;
  height:25rem;
  margin-left: 10%;
  margin-bottom: 3rem;
  background-color: transparent;
  box-shadow: 1100px 100px 400px -100px #FF5722,
              -600px -100px 400px -100px #FF5722;
}
.why_Us{
font-size: 1.1rem;
font-weight: 500;
color:#FF5722;
text-align: left;
margin-bottom: 2rem;
}
.h1Text{
    font-size: 2.5rem;
    font-weight: 300;
}
.homeMessage1{
  margin: auto;
  width:80%;
}

/* the styled images */
.section1RightImage{
 width:45%;
 height:25rem;
 float:right;
}
.mainDivStyle {
  width: 13rem;
  height:19rem;
  transform: translate(1rem, 1rem);
}
.style1{
  background-color: #fa8f6f1e;
}
.style2{
  background-color: #fa8f6f62;
}
.style3{
  background-image: url(../assets/modernHotelTable.png);
  background-position-x: 25%;
  background-size: cover;
}

/* ----------------------This is the second section-------------------------- */
.homeSection2{
    float:left;
    width:40%;
    height:25rem;
    margin-left: 10%;
  

    box-shadow: 300px 300px 400px -170px #FF5722;
  }


/* This is the testimonials section */
.clientTestimonials{
 /*  background-color: red; */
  width:45%;
  height:fit-content;
  float:right;

}

.HomeImage{
    width: 30%;
    height: 20rem;
    margin: auto;
}
figcaption{
    font-size: 0.9rem;
    color:#f0f8ff;
    filter:brightness(0.85);
    margin: auto;
}

  
  
  
  
  