
  .clear{
    clear: both;
}

/* my own custom horizontal rule */
  .bodyHr{
    width:100%;
    height:1px;
    background-image: linear-gradient(to right,rgb(4, 11, 29), #c42e00, rgb(4, 11, 29));
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

/* start of homepage */
  .Home {
    text-align: center;
    background-color: rgb(4, 11, 29);
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .Home-logo {
    height: 40vmin;
    pointer-events: none;
  }

/* .................hero section animation images...................... */
.homeCaptionImage1{
  width:100%;
  height: 26rem;
  margin:auto;
  top: 0;
  background-image: url(../assets/HotelCaption1.png);
  background-size: cover;
  background-position-y: 35%;
  background-position-x: -3rem;

  animation: captionImage1Slide 40s ease-in-out 0s infinite;
  position: absolute;
}
.homeCaptionImage2{
  width:100%;
  height: 26rem;
  margin:auto;
  background-image: url(../assets/hotelCaption2.png);
  background-size: cover;
  background-position-y: 70%;
  position: relative;
  animation: captionImage2Slide 40s ease-in-out 0s infinite;
  top:-3rem;

}
@keyframes captionImage1Slide {

  0%{
     width: 100%;
  }

  20%{
    width: 100%;
  }

  40%{
    width: 0%;
  }

  60%{
    width: 0%;
  }

  80%{
    width: 0%;

  }
  100%{
    width:100%;
  }

}

@keyframes captionImage2Slide {

  0%{
     width: 0%;
  }

  20%{
    width: 0%;
  }

  40%{
    width: 100%;
  }

  60%{
    width: 100%;
  }

  80%{
    width: 100%;

  }
  100%{
    width:0%;
  }

}

/* ................The shade ontop of hero section images ................*/
.captionShader{
  width:100%;
  height: 26rem;
  background-image: linear-gradient(to right,#ff562200,#ff56224f,rgb(4, 11, 29, 0.9),rgb(4, 11, 29));
  position:absolute;
  top:0;
  padding-top: 3rem;
}
.captionFilter{
  backdrop-filter: blur(2px);
  width: 20%;
  height: 21rem;
  float:left;
}
.captionTextBox{
  width: 40%;
  height: 20rem;
  float: right;
  padding:1rem;
}
.captionHeaderText h1{
  height: fit-content;
  margin: auto;
  text-align: left;
  margin-bottom: 0.5rem;
  font-size: 3rem;
  background-clip: text;
  background-image: linear-gradient(to top right, var(--color-text), var(--color-text), var(--color-accent-secondary), var(--color-text),var(--color-text), var(--color-text));
  color:transparent;
}
.captionHeaderText h1 span{
 font-weight: 300;

}
.captionBodyText {
  margin:auto;
  width:30%;
  padding:1rem;
  background-color: #ff56220c;
  height: 7rem;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 300;
  color: var(--color-text);

  animation: captionBodyTextSlide 3s ease-in-out 0s forwards;

}
@keyframes captionBodyTextSlide {
  from{
    width:0;
    filter:brightness(0.5);
    transform: translateX(-64rem);
  }
  to{
   filter:brightness(1);
    transform: translateX(0rem);
    width: 60%;
  }
}


.WelcomeParagraph{
  color:var(--color-text);
  letter-spacing: 0.3rem;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

/* searchBar */
.searchBar{
margin-right: 10%;
margin-top: 1rem 0 5rem 0;
float:right;
}
/* ---------------This is the first section------------ */
.homeSection1{
  float:left;
  width:40%;
  height:25rem;
  margin: 5rem 0 5rem 10%;
  background-color: transparent;
 
}
.why_Us{
font-size: 1.1rem;
font-weight: bold;
color:#FF5722;
text-align: left;
margin-bottom: 2rem;
}
.h1Text{
    font-size: 2.5rem;
    font-weight: 300;
}
.h1Text span{
  font-weight: 800;
}
.homeMessage1{
  margin: auto;
  width:80%;

  box-shadow: 1100px 100px 400px -10px #ff56222d,
  -200px -100px 400px -10px #ff56222d;
}

/* the styled images */
.section1RightImage{
 width:35%;
 height:25rem;
 float:right;
 margin: 5rem 10% 5rem 0;

}
.mainDivStyle {
  width: 15rem;
  height:60vh;
  border-radius: 2rem;
  transform: translate(1rem, 1rem);

  background-size: cover;
  background-repeat: no-repeat;

  box-shadow: 2px 2px 15px  var(--color-accent-secondary);
}
.style1{
  background-color: var(--color-text);
  transform: rotateZ(25deg) translateY(3rem);
  margin-left: 30%;

  background-image: url(../assets/animeReservation/introAnimation7.jpg);
  background-position-x: 64%;

  
  
}
.style2{
  transform: rotateZ(-25deg) translate(-5rem, -4rem);
  background-color: var(--color-accent-secondary);


  background-image: url(../assets/animeReservation/pexels-houzlook-3797991.jpg);
  background-position-x: 90%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
.style2 button{
width:60%;
height: 2rem;
padding:0.5rem;
font-size: 1rem;
border-radius: 2rem;
border:none;
margin:0 1rem 1rem 0;
background-color: var(--color-text);

transition: all 200ms;

}
.style2 button:hover{
  filter: brightness(0.85);
  
}



/* .style3{
  background-image: url(../assets/modernHotelTable.png);
  background-position-x: 25%;
  background-size: cover;
} */

/* ...............This is the featured rooms section just below the first section ..........*/
.featuredRooms{
  width:100%;
  height:fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  margin: 5rem 0rem 20vh 0rem;
  
}

.featuredImagesDiv{
  width:60%;
  height:fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap:1rem;
  margin-top: 3rem;
}
.featuredRoomsHeader{
  color: var(--color-faded-accent-primary);
}



/* .................This is the testimonials section.............. */
.testimonialSection{
  height: fit-content;
  width:100%;
  margin:5rem 0 5rem 0;

}
.testimonialsCaption{
  float:left;
  width:40%;
  height:25rem;
  margin-left: 10%;
  margin-top: 2rem;

}
.clientTestimonials{
  width:45%;
  height:fit-content;
  float:right;
  margin-top: 2rem;

}
/* Testimonial lights from the second message box shadow */
.testimoniaLights{
  box-shadow: 300px 400px 600px 10px #ff56222d;

}


/* ............................Special Offers and Promos section....................... */
.promoSection{
height:fit-content;
width:90%;
padding-bottom: 1rem;
margin:5rem auto 5rem auto;

}
.promosHeader{
font-size: 1.1rem;
font-weight: bold;
color:#FF5722;
text-align: center;
margin-left: 3%;
margin-bottom: 2rem;
}
.promoh1Text{
font-size: 2.5rem;
font-weight: 300;
text-align: right;

}

.promoh1Text span:nth-child(1){
  font-weight: 800;
}
.promoh1Text span:nth-child(2){
  color:var(--color-accent-secondary);
}


.promoParagraph{
  width: 100%;
  height: fit-content;
  color:var(--color-text);
  font-size: 1.1rem;
  line-height: 1.7rem;
  filter: brightness(0.85);
  text-align: left;
  display: flex;
  justify-content: flex-end;

}
.promoParagraph p{
  width:50%;
  margin-bottom: 2rem;
}

.promosContainer div{
  display: inline-block;
  margin-inline: 3%;  

}
.promoJoinUs{
  width: 100%;
  height: fit-content;
  color:var(--color-text);
  font-size: 1.1rem;
  margin-top: 4rem;
  text-align: left;

  display: flex;
  justify-content: center;

}
  
  


/* .............................Now moving to the chat form section................  */
  .homeChatSection{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:0.5rem;
    margin:5rem 0 5rem 0;

  }
  .chatCaption{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .chatCaption h2{
    font-weight: 300;
    font-size: 2.5rem;
  }

  .chatCaption h2 span{
    color: var(--color-accent-secondary);

  }
  
  .chatCaption p{
    font-size: 1.1rem;
  }

/* date */
  .captionDate{
    width:50%;
    height:2rem;
    margin:auto;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 200;
    color:var(--color-text);
  }
