
.ImageDefaults{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
}
.ImageContainer{
    width:40rem;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 2rem;
    
}

.ImageShadder{
    background-color: rgba(0, 0, 0, 0.5);
    position:absolute;
    left:56%;
    top:40%; 
    width:20rem;
    overflow: hidden;
    animation: shadeSlider 2s ease 0s forwards;
}

.ImageShadder h1{
    text-align: center;
    margin:2rem 2rem;
    font-weight:lighter;
    font-size: 1.5rem;
} 

.containerSection1{
    height:100%;
    width:48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.containerSection2{
    height:90%;
    width:48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.TwinBeds1{
    background-image: url(../assets/TwinBeds1.jpg);
    width:55%;
    height:67%;
    animation: slide1 2.5s ease-in-out 0s forwards;
}

.Swimming2{
    background-image: url(../assets/Swimming2.jpg);
    width:70%;
    height:29%;

    animation: moveIn2 2s ease-in-out 0s forwards;
}

.singleBedRoom1{
    background-image: url(../assets/modernOneBed.png);
    background-position-y: 90%;
    width:100%;
    height:38%;

    animation: moveIn1 3s ease-in-out 0s forwards;
}

.HotelBathroom{
    background-image: url(../assets/HotelBathroom.jpg);
    width:70%;
    height:58%;
  
    animation: slide2 2.5s ease-in-out 0s forwards;
}

@keyframes shadeSlider {
    from {
        width:0;
    }

    to {
       width:20rem;
    }
}
@keyframes slide1 {
    from {
        transform: translate(0, -100px);
        opacity: 0;
        filter: blur(33px);
    }

    to {
        transform: translate(0);
        opacity:1;
        filter: blur(0);
    }
}
@keyframes slide2 {
    from {
        transform: translate(100px, 0);
        opacity: 0;
        filter: blur(33px);
    }

    to {
        transform: translate(0);
        opacity:1;
        filter: blur(0);
    }
}

@keyframes moveIn1 {
    from {
        transform: translate(100px, 0);
        opacity: 0;
        filter: blur(33px);
    }

    to {
        transform: translate(0);
        opacity:1;
        filter: blur(0);
    }
}
@keyframes moveIn2 {
    from {
        transform: translate(-100px, 0);
        opacity: 0;
        filter: blur(33px);
    }

    to {
        transform: translate(0, 0);
        opacity:1;
        filter: blur(0);
    }
}


