*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  
}

/* Make the header fixed at the top */
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height:5rem;
  background-color: rgba(17, 23, 37, 0.5);
  transition: transform 0.3s ease-in-out; /* Smooth transition */
  z-index: 1;
}

/* When the header is hidden (moving up out of view) */
.header.hidden {
  transform: translateY(-100%);
}

/* When the header is visible */
.header.visible {
  transform: translateY(0);
}












.headerTitle{
float:left;
width:10rem;
font-size: 1.5rem;
margin-top: 1rem;
}
.headerTitle span{
  color:#FF5722;
  font-weight: 300;
}
.navBar{
height: 5rem;
padding:0.3rem;
background-image:linear-gradient(to top, rgb(21, 28, 46,0.5),rgb(17, 23, 37, 0.5));
}

.navBar div{
display:inline-block;
}

.navListDesign li{
color:aliceblue;
list-style-type: none;
display:inline-block;
font-size: 0.9rem;
margin-inline: 3%;
cursor: pointer;
}

.linkStyle{
  text-decoration: none;
  color:aliceblue;
  transition: all 200ms ease-in-out;
}
.linkStyle:hover, .linkStyle:focus{
color: #FF5722;

}
.navPages{
width:50%;
height:2rem;
text-align: center;
margin-top: 1rem;
margin-left: 1%;

}
.navAcc{
width:15%;
height:2rem;
float:right;
text-align: right;
margin-right: 0.5%;
margin-top: 1rem;


}
.navAcc li{
  transition: all 200ms ease-in-out;
}
.navAcc li:hover, .navAcc li:focus{
  color: #FF5722;
}
.navProfile{
background-image: url(../assets/cover.jpg);
background-size: cover;
width:4rem;
height: 4rem;
padding:1rem;
border-radius: 50%;
float:right;

}

h1{
  color:rgb(211, 211, 255);
  font-size: 1.2rem;

}

.introhr{
  width:80%;
  height:1px;
  background-image: linear-gradient(to right,rgb(17, 23, 37), #FF5722, rgb(17, 23, 37));
  margin: auto;
  margin-top: 1.7rem;
}