/* Make the header fixed at the top */
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height:3rem;
  background-color: rgb(4, 11, 29, 0.5);
  transition: transform 0.3s ease-in-out; /* Smooth transition */
  z-index: 1;
}

/* When the header is hidden (moving up out of view) */
.header.hidden {
  transform: translateY(-100%);
}

/* When the header is visible */
.header.visible {
  transform: translateY(0);
}


.headerTitle{
float:left;
width:10rem;
font-size: 1.5rem;
}
.headerTitle span{
  color: var(--color-accent-secondary);
  font-weight: 300;
}
.navBar{
height: 3rem;
}

.navBar div{
display:inline-block;
}

.navListDesign li{
color:var(--color-text);
list-style-type: none;
display:inline-block;
font-size: 0.9rem;
margin-inline: 3%;
cursor: pointer;
}
.navListDesign li:nth-child(2) span{
  font-size: 1.5rem;
  font-weight: 300;
  color:var(--color-accent-primary);
}

.linkStyle{
  text-decoration: none;
  color:var(--color-text);
  transition: all 200ms ease-in-out;
}
.linkStyle:hover, .linkStyle:focus{
color: var(--color-faded-accent-primary);

}
.navPages{
width:50%;
height:2rem;
text-align: center;
margin-left: 1%;

}
.navAcc{
width:15%;
height:2rem;
float:right;
text-align: right;
margin-right: 0.5%;

}
.navAcc li{
  transition: all 200ms ease-in-out;
}
.navAcc li:hover, .navAcc li:focus{
  color: var(--color-faded-accent-primary);
}
.navProfile{
background-image: url(../assets/cover.jpg);
background-size: cover;
width: 2.5rem;
height: 2.5rem;
padding:1rem;
border-radius: 50%;
float:right;
margin: 0.2% 1% 0 0;

}

h1{
  color:var(--color-text);
  font-size: 1.2rem;

}

.introhr{
  width:80%;
  height:1px;
  background-image: linear-gradient(to right,rgb(4, 11, 29), #FF5722, rgb(4, 11, 29));
  margin: auto;
  transform: translateY(-0.5rem);
}