/* This is the main container holding the testimonial messages */
.MessageMover{
width:100%;
height: 40rem;

}
.MessageMover div{
    border-radius: 1rem;
    display: inline-block;
}

.testimonialHeader{
    color:rgb(211, 211, 255);
    font-size: 1.5rem;
    font-weight:600;
    letter-spacing: 0.2rem;
    border-right: 2px solid var(--color-accent-secondary);
    margin: 1rem;
    padding-bottom: 0.5rem;
}

.testimonialMessage{
    color:rgb(211, 211, 255);
    font-size: 1rem;
    text-align: justify;
    margin: 2rem;
}

/* ..................The three message display divs............. */
.movingDiv1{
    background-color: #ff56222d;
    height: 9rem;
    width:10rem;
    margin-top: 6rem;
    filter:blur(0.3rem);
    overflow: hidden;
}

.movingDiv2{
    background-color: #ff56222d;
   filter:blur(0.18rem);
    transform: translate(-7rem, 3rem);
    height: 14rem;
    width:15rem;
    overflow: hidden;
    
}

.movingDiv3{
    background-image:linear-gradient( to right, #ff56222d, rgb(4, 11, 29) );
    transform: translate(2.5rem,-14rem);
    height: 20rem;
    width:18rem;
    overflow: hidden;  
}

.arrowHeadsContainer{
    width:70%;
    height:3rem;
    padding:0.5rem;
    background-color: transparent;
    transform: translate(2.5rem,-14rem);
}
.backBtn{
    float:right;
    font-size: 2rem;
    color:var(--color-accent-secondary);
    background-color: transparent;
    border:none;
    transition: all 300ms ease-in-out;
    margin-right: 20%;
}

.forwadBtn{
    float:left;
    font-size: 2rem;
    color:var(--color-accent-secondary);
    background-color: transparent;
    border:none;
    transition: all 300ms ease-in-out;
    margin-left: 20%;
}
.backBtn:hover ,.forwadBtn:hover{
    filter: brightness(0.7);
}

/*......... Sending testimonial section............ */
.sendTestimonial{
    background-image: linear-gradient(to bottom right,  rgb(7, 16, 37) , #ff562217);
    width:100%;
    height: 15rem;
    transform: translate(-15rem , -12rem);
 
}

.testimonialForm{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

}
.testimonialForm input:nth-child(1){
    margin-top: 0.5rem;
    background-color: transparent;
    outline: none;
    border:none;
    border-bottom: 1px solid rgb(52, 62, 71);
    text-align: center;
    font-size: 1.1rem;
    color:var(--color-text);
    margin-left: 2%;
}
.testimonialForm textarea{
    margin-left: 20%;
    margin-top: 1rem;
    font-size: 1rem;
    outline: none;
    border:1px solid rgb(21, 40, 56);
    padding:1rem;
    color:var(--color-text);
    border-radius: 0.5rem;
    background-color: transparent;
    backdrop-filter: blur(3px);
}
.testimonialForm button{
    margin-left: 45%;
    
}
.errorMessage{
    font-size: 1rem;
    color:var(--color-accent-primary);
    margin-left: 15%;
    margin-top: 1rem;
}