.roomImagesContainer{
    width:100%;
    height: fit-content;
    padding: 0.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: wrap;
    gap:1%;
    
  }
  
  /*.............. Delux room images......... */
  .duluxe1{
    background-image: url(../assets/animeReservation/introAnimation7.jpg);
  }
  .duluxe2{
    background-image: url(../assets/animeReservation/pexels-charlotte-may-5825536.jpg);
  }
  .duluxe3{
    background-image: url(../assets/animeReservation/pexels-houzlook-3797991.jpg);
  }
  .duluxe4{
    background-image: url(../assets/Diluxe2.jpg);
  }