*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

/* textbox widh to be defined where its rendered */
.stylishTextBox{
    background-image: linear-gradient(to top, #151c2e, rgba(17, 23, 37, 0.7) );
    padding:1rem;
    width: 80%;
    height:12rem;
    margin: auto;
  
}

.TextDesign p{
    font-size: 1rem;
    color:#f0f8ff;
    filter:brightness(0.85);
    text-align: left;
    line-height: 1.8rem;
   
   
}
.lightDesign{
    width:2rem;
    height:2rem;
    border-top-right-radius:6rem ;
    border-top-left-radius:6rem ;
    border-bottom-left-radius:6rem ;
    background-image: linear-gradient(to bottom right, #FF5722, rgba(224, 147, 47, 0));
    float:right;
    margin-right: -1rem;
    margin-top: 2rem;

    box-shadow: -70px -50px 70px 20px #FF5722;
}

