*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  height: 10rem;
  
}
.content button{
  width:8rem;
  padding:0.5rem;
  border:0;
  font-size: 1.1rem;
  margin-top: 2rem;
  transition: transform 1s ease-in-out 0.2s;
  cursor:pointer;
  color:aliceblue;
  background-color:dodgerblue;
}
.content button:hover, .content button:focus{
  transform:scale(1.05);


}
.footer{
  position:absolute;
  bottom:0;
  width:100%;
  margin:auto;
  font-size: 1rem;
}
.footer div div{
  width:90%;
  height:2px;
  background-image:linear-gradient(to right, #282c34, dodgerblue, #282c34);
  margin:auto;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



