*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

.contentBox{
    background-color: rgba(21, 28, 46, 0.6);
    width:10rem;
    height:13rem;
    float:left;
    margin:1rem;
  }
  .FooterListDesign li{
    list-style-type: none;
    font-size: 0.7rem;
    text-align: left;
    padding:0.2rem;
    padding-left: 0.5rem;
    transition: all 200ms ease-in-out;
    cursor: pointer;
  }

  .FooterListDesign li:hover{
    filter: brightness(0.85);
  }
  .FooterListDesign li:active{
    filter: brightness(1);
  }
  