/* src/index.css or src/styles/global.css */
html, body {
  width: 100%;
  height: 100%;
}


/* ..........MY WEB COLORS............*/
:root {
  --color-background: #040b1d;
  --color-faded-background:#071025;
  --color-text: #d3d3ff;
  --color-accent-primary: #c42e00;
  --color-faded-accent-primary: #ff450c;
  --color-accent-secondary: #ffc107;

 
}


/* setting up global font family for headers */
.urbanist {
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  


/* This is a clear class for all floats within my project */
.clear{
  clear: both;
}