*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
.Head{
  background-image:linear-gradient(to top, rgb(21, 28, 46),rgb(17, 23, 37));
  position: sticky;
  top:0;
  width:100%;
  height:3rem;
  margin-bottom: 2rem;
}
.navTitle{
  background-color: red;
  text-align: left;
}
.headerTitle{
  float:left;
  width:8.5rem;
  margin-top: 1rem;
}
.navBar{
height: 4.5rem;
padding:0.3rem;
background-image:linear-gradient(to top, rgb(21, 28, 46),rgb(17, 23, 37));

}
.navBar div{
  display:inline-block;
}

.navListDesign li{
display:inline-block;
font-size: 0.8rem;
margin-inline: 2%;
color:aliceblue;
transition: all 200ms ease-in-out;
/* border-right: 0.1rem solid aliceblue; */
cursor: pointer;
}
.navListDesign li:hover, .navListDesign li:focus{
  color: rgb(255, 203, 172);
  
}
.navPages{
width:50%;
height:2rem;
margin-top: 1rem;
}
.navAcc{
  width:20%;
  height:2rem;
  float:right;
  text-align: right;
  margin-right: 0.5%;
 
}
.navProfile{
  background-image: url(../public/favicon.ico);
  width:4rem;
  height: 4rem;
  padding:1rem;
  border-radius: 50%;
  float:right;
}

  h1{
    color:aliceblue;
    font-size: 1.2rem;
   /*  background-color: red; */
  }

  .introhr{
    width:80%;
    height:1px;
    background-image: linear-gradient(to right,rgb(17, 23, 37), rgb(255, 203, 172), rgb(17, 23, 37));
    margin: auto;
    margin-top: 1rem;
}